<!-- Seção de Contato -->
<section id="contato" class="py-16 contact bg-surface">
  <div class="mx-auto w-full max-w-7xl px-4 md:px-16 z-10">
    <div class="flex gap-2 items-center mb-4 text-text-primary">
      <ion-icon name="mail-outline" class="size-6"></ion-icon>
      <h2 class="text-2xl font-semibold text-text-primary">
        {{ "HOME.CONTACT.TITLE" | translate }}
      </h2>
    </div>
    <p class="text-text-primary text-sm md:text-base mb-4">
      {{ "HOME.CONTACT.DESCRIPTION" | translate }}
    </p>
    <div class="flex flex-col gap-2 text-sm text-text-secondary">
      <span class="font-medium"
        >{{ "HOME.CONTACT.PHONE_LABEL" | translate }}
        <span class="font-normal">(11) 99999-9999</span></span
      >
      <span class="font-medium"
        >{{ "HOME.CONTACT.EMAIL_LABEL" | translate }}
        <span class="font-normal">contato@anaimoveis.com.br</span></span
      >
    </div>
  </div>
</section>
<div class="bg-surface border-t border-border">
  <div class="max-w-7xl mx-auto px-4 md:px-16 py-6">
    <div class="flex flex-col gap-2 text-sm text-text-secondary">
      <span class="font-medium text-text-primary">Ana Imóveis</span>
      <span
        >© {{ currentYear }}. {{ "FOOTER.RIGHTS_RESERVED" | translate }}</span
      >
    </div>
  </div>
</div>
