
aside#mobile-menu {
  background-color: var(--color-primary);
}

.header-inner {
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: var(--color-background);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.brand {
  color: var(--color-text-white);
  margin-left: 0.5rem;
}

.transparent-header {
  background-color: #080f3695;
  transition: 0.5s;
}

ion-popover.language-popover::part(content) {
  --background: transparent;
}

.menu-bar a:hover,
.menu-bar button:hover {
  font-size: 1.125rem;
  transition: 0.2s;
}

.translate:hover {
  transform: scale(1.2);
  transition: 0.2s;
}
