#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.slider{
  margin-top: -3.175rem;
}

.content-main {
  margin-top: -4rem;;
  position: relative;
  background-image:  url('https://images.unsplash.com/photo-1703319961241-c9296db91e72?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE5fHx8ZW58MHx8fHx8');
  background-size:cover;
  background-repeat:no-repeat;
  section{
    position: relative;
    z-index: 1;
  }
}

.content-main::before {
  content: '';
  position: absolute;
  inset: 0;
  background: #080f36c9;
  z-index: 0 ;
}

