/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #2b3a8c;
  --color-secondary: #296ca6;
  --color-accent: #29b9d9;

  --color-background: #080f36;
  --color-surface: #ffffff;

  --color-text-primary: #0f172a;
  --color-text-secondary: #475569;
  --color-text-white: #ffffff;
  --color-text-accent: #29b9d9;

  --color-border: #e2e8f0;
  --color-highlight: #29a7d9;

  --ion-font-family: "Poppins", sans-serif;
}

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

html,
body {
  font-family: "Poppins", sans-serif;
}

ion-modal.real-estate-modal ion-content {
  --background: #ffffff;
}

ion-modal.real-estate-modal {
  --width: 900px;
}

ion-modal.real-estate-modal .real-estate-modal__swiper::part(pagination) {
  bottom: 0.5rem;
}

ion-modal.real-estate-modal .real-estate-modal__layout {
  display: flex;
  gap: 16px;
  width: 100%;
  height: 100%;
}

ion-modal.real-estate-modal .real-estate-modal__images {
  width: 50%;
  height: 100%;
}

ion-modal.real-estate-modal .real-estate-modal__image {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: cover;
}

ion-modal.real-estate-modal .real-estate-modal__form {
  width: 50%;
}

ion-modal.real-estate-modal::part(content) {
  border-radius: 16px;
}

@media (max-width: 767px) {
  ion-modal.real-estate-modal {
    --width: 100%;
  }

  ion-modal.real-estate-modal .real-estate-modal__layout {
    flex-direction: column-reverse;
    height: auto;
  }

  ion-modal.real-estate-modal .real-estate-modal__form {
    width: 100%;
  }

  ion-modal.real-estate-modal .real-estate-modal__images {
    width: 100%;
    height: 240px;
  }

  ion-modal.real-estate-modal .real-estate-modal__swiper {
    height: 240px;
  }
}

ion-modal.real-estate-modal ion-header ion-toolbar {
  --background: #ffffff;
  --color: #0f292a;
}

ion-modal.real-estate-modal ion-header ion-toolbar ion-title {
  font-weight: 600;
  color: #2b3a8c;
}

ion-modal.real-estate-modal ion-item {
  --background: #ffffff;
  --color: var(--color-text-primary);
  --border-color: var(--color-border);
  --highlight-color-invalid: #ef4444;
}

ion-modal.real-estate-modal ion-input,
ion-modal.real-estate-modal ion-textarea {
  --highlight-color-focused: var(--color-primary);
  --highlight-color-valid: var(--color-primary);
  --highlight-color: var(--color-primary);
}

ion-modal.real-estate-modal ion-input,
ion-modal.real-estate-modal ion-textarea {
  --color: var(--color-text-primary);
  --placeholder-color: var(--color-text-secondary);
}

ion-modal.real-estate-modal ion-button {
  --color: var(--color-text-white);
  --background: var(--color-primary);
  --border-radius: 24px;
  height: 48px;
}



/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */

